<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/styles.css">

		<title>Curiosity</title>
	</head>

	<body>
		<section>
			<h1>Bienvenido a Curiosity. Donde cada vez que entras aprendes algo nuevo</h1>
			
			<hr>

			<h2>La curiosidad de ahora es:</h2>

			<p><%dato%></p>
		</section>
	</body>

</html>